<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="viewport-fit=cover,width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="{{ assetsDomain }}/umi.css">
</head>
<body>
<div id="root"></div>

<script>
  window.routerBase = '/';
  window.resourceBaseUrl = '{{ domain }}';
</script>
<script src="{{ assetsDomain }}/umi.js"></script>
</body>
</html>
