<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn-object.itellyou.com/icon/shortcut.png"
    />
    <link rel="stylesheet" href="/public/umi.css" />
    <script>
      window.routerBase = "/";
    </script>
    <script>
      //! umi version: 3.3.1
    </script>
    <title>am-editor 多人协同编辑器</title>
    <script data-ad-client="ca-pub-3706417744839656" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?91a0c5558015c5af2d5259d2bf4aa6eb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>  
</head>
  <body>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3706417744839656"
     data-ad-slot="2864708931"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <div id="root"></div>

    <script src="/public/umi.js"></script>
  </body>
</html>
