@import (reference) '../../styles/variables.less';

.__dumi-default-layout[data-site-mode='true'][data-route='/'],
.__dumi-default-layout[data-site-mode='true'][data-route='/zh-CN'] {
	padding-top: 138px !important;
	min-height: auto;

	@media @mobile {
		padding-top: 86px !important;
	}
}

.__dumi-default-layout[data-site-mode='true'][data-route='/'],
.__dumi-default-layout[data-site-mode='true'][data-route='/zh-CN']
	.__dumi-default-navbar {
	box-shadow: none;
}

.__dumi-default-layout[data-site-mode='true'] .__dumi-default-navbar nav {
	align-items: center;
}

.__dumi-default-layout[data-site-mode='true'][data-route='/']
	.__dumi-default-navbar
	nav
	> span
	> a.active::after,
.__dumi-default-layout[data-site-mode='true'][data-route='/zh-CN']
	.__dumi-default-navbar
	nav
	> span
	> a.active::after {
	display: none;
}

.__dumi-default-layout[data-site-mode='true']
	.__dumi-default-navbar
	nav
	.__dumi-default-locale-select {
	height: 32px;
}

.editor-ot-users {
	font-size: 12px;
	background: #ffffff;
	padding: 4px 0 4px 266px;
	z-index: 999;
	position: fixed;
	width: 100%;
	top: 64px;

	@media @mobile {
		padding: 8px 16px;
		z-index: 1;
		left: 0;
		top: 50px;
	}
}

.editor-ot-users-content {
	display: flex;
	flex-wrap: wrap;
}

.editor-ot-users .ant-avatar {
	margin: 0 2px;
}

.editor-toolbar {
	position: fixed;
	width: 100%;
	background: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.02);
	z-index: 1000;
	top: 96px;
}

.__dumi-default-previewer-demo .editor-toolbar {
	top: 0;
}

.editor-wrapper {
	position: relative;
	width: 100%;
	min-width: 1440px;

	@media @mobile {
		min-width: auto;
	}
}

.editor-container {
	background: #fafafa;
	background-color: #fafafa;
	padding: 24px 0 64px;
	height: calc(100vh - 138px);
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	position: relative;

	@media @mobile {
		padding: 0;
		height: auto;
		overflow: hidden;
	}
}

.editor-content {
	position: relative;
	width: 812px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #f0f0f0;
	overflow: hidden;
	min-height: 800px;
	@media @mobile {
		width: auto;
		min-height: calc(100vh - 96px);
		border: 0 none;
	}
}

.editor-content .am-engine {
	padding: 40px 60px 60px;

	@media @mobile {
		padding: 18px 0 0 0;
	}
}
