.editor-ot-users {
	margin: 10px auto;
	width: 978px;
	font-size: 12px;
}

.editor-ot-users-content {
	display: flex;
}

.editor-ot-users .ant-avatar {
	margin: 0 2px;
}

.editor-wrapper {
	background: #fafafa;
	padding: 20px 0;
	height: calc(100% - 20px);
	overflow: auto;
}

.editor-container {
	position: relative;
	width: 812px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #f0f0f0;
}

.editor-container .am-engine {
	min-height: 824px;
	padding: 40px 60px 90px;
}
