.editor-ot-users {
	margin: 10px auto;
	width: 978px;
	font-size: 12px;
}

.editor-ot-users-content {
	display: flex;
}

.editor-ot-users .ant-avatar {
	margin: 0 2px;
}

.editor-container {
	position: relative;
	width: 812px;
	margin: 20px auto;
	background: #fff;
}

.editor-container .am-engine {
	min-height: 1024px;
	padding: 20px 60px 90px;
}
